.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  background: unset;
  font-size: 16px;
}
.connect-button {
  width: fit-content;
  padding: 20px;
  background-color:wheat;
  border: 3px solid cornsilk;
 
  border-radius: 20px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-page {
  font-size:    36px;
  font-weight: 700;
}
.meta-button {
  width: 200px;
  margin-top: 30px;
  background: #C6FFDD;  
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  border: 3px solid #FBD786;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
} 
/* .meta-button:hover {
  background-color:skyblue;
} */
.address, .balance {
  /* width: fit-content; */
  color: coral;
}
.title {
  font-weight: 700;
  font-size: 14px;
  color: black;
  padding-right: 10px;
  width: 100%;
}
.wrap-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}


.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 500px;
	height: 450px;
  background-image: url(./assets/img/wallet-5374096-4492232.webp);
}

.wrap-info {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
grid-template-columns: 100px 1fr;
  padding: 0 20px;
}
/* .content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 8em;
	line-height: 160px;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
} */


.container {  

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  min-width: 40%;
  width: 1000px;
  perspective: 900px; /* change this value */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.text-wrapper h1 {
  /* padding: 0 10px; */
  /* border: 6px solid black; */
  /* font-weight: bold; */
  font-family: "Roboto", sans-serif;
  /* text-transform: uppercase; */
  /* font-size: 5vw; */
  /* -webkit-transform-style: preserve-3d; */
  /* -webkit-transform: rotateX(0deg) rotateY(0deg); */
  /* transform-style: preserve-3d; */
  /* transform: rotateX(0deg) rotateY(0deg); */
}
